# Certs
*dx-certs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.pytest_cache/
.coverage*
htmlcov/

# Type checkers
.mypy_cache/
.pytype/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store

# Environment / secrets
.env
.env.*

# Logs
*.log

# Local tools
/.ruff_cache/
